<app-header></app-header>

<div class="container-product-detail">
    <div class="container-detail">

        <div class="container-info">
            <h1 class="product-name">{{product?.title}}</h1>
            <p class="product-price">{{product?.price}}</p>

            <app-rating [rating]="product?.rating"></app-rating>


            <div class="product-stock">
                <p>In Stock: {{ product?.stock }}</p>
            </div>
            <button class="add-to-cart-btn">Add to Cart</button>
            <p class="product-description">
                {{ product?.description }}
            </p>
        </div>

        <div class="container-img">
            <div class="style-img">
                <img [src]="product?.images[0]" loading="lazy" alt="Product Image">
            </div>
        </div>

    </div>
</div>