<mat-toolbar class="custom-toolbar">
  <span class="logo-image" (click)="goTo('/dashboard')">
    <img src="assets/img/Branding-eagle.png" alt="" id="branding">
  </span>

  <span class="example-spacer"></span>

  <button mat-icon-button class="cart-icon" (click)="goTo('/cart')" aria-label="Carrito de compras">
    <mat-icon>shopping_cart</mat-icon>
    <span class="cart-count accent-background">{{ cartItemsCount }}</span>
  </button>
  <button mat-icon-button class="cart-icon" (click)="logout()" aria-label="Cerrar sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>