.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin: 20px auto;


    .search-bar-input {
        width: 100%;
    }
}

.sidenav-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.filters-search {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.filters-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    padding-left: 20px;

    h3 {
        align-content: center;
        margin: auto 0;
    }

}

.mat-sidenav-content {
    padding: 16px;
}