.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    min-height: 92%;
}

.register-logo {
    width: auto;
    margin-bottom: 20px;
}

.register-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.register-button {
    width: 100%;
    justify-content: center;
    display: flex;

    button {
        width: 50%;
        margin: auto;
    }
}

.register-full-width {
    width: 100%;

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: red;
    }

}


/* Estilos generales para todos los tamaños de pantalla */
@media (max-width: 600px) {
    .register-container {
        min-height: 100vh;
    }

    .register-logo {
        width: auto;
        margin-bottom: 20px;
    }

    .register-form {
        min-width: 150px;
        max-width: 500px;
        width: 80%;
    }

    .register-button {

        button {
            width: 100%;
        }
    }

    .register-full-width {
        width: 100%;

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: red;
        }

    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {}

/* Escritorio */
@media (min-width: 1025px) {}