.cart-container-primary { 
    min-height: 92vh;
    padding: 5vw;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart-products {
    width: 70%;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.cart-product {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-product img {
    width: 100px;
    margin-right: 15px;
}

.product-details {
    flex-grow: 1;
}

.cart-summary {
    width: 25%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.title-cart {
    font-weight: bold;
}