.cart-container-primary {
    min-height: 92vh;
    padding: 5vw;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart-products {
    width: 70%;
    border-right: 1px solid #ddd;
    padding-right: 20px;


}

.cart-product {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 15px;
}

.cart-product img {
    width: 150px;
    margin-right: 15px;
}

.product-details {
    flex-grow: 1;
    position: relative;
}

button[mat-icon-button] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #f44336;
    color: white;
}

.cart-summary {
    width: 25%;
    max-height: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.title-cart {
    font-weight: bold;
}